/*Semantic UI*/

.masthead h1.ui.header {
    margin-top: 0.5em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: bolder;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
    margin-bottom: 8em;
    font-weight: lighter;
}
.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button+ h3, .ui.vertical.stripe p+ h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}
.quote.stripe.segment {
    padding: 0em;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

/*Video Header*/

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: absolute;
}
.no-video .video-container video, .touch .video-container video {
    display: none;
}
.no-video .video-container .poster, .touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0);
    width: 100%;
}
.video-container video {
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

/*Website*/
.ui.text.container {
    position: relative;
    z-index: 100;
    top: 20%;
    left: 40%;
}
.ui.inverted.segment, .ui.primary.inverted.segment {
    padding: 0;
}
#logo {
  font-size: 18px;
}
#banner .ui.inverted.menu {
    background-color: rgba(27, 28, 29, 0.24) !important;
}
#quote .home.icon {
    font-size: 24px;
}
#quote .child.icon, .travel.icon, .dollar.icon, .checkmark.icon {
    font-size: 56px;
}
#calculator {
    background-color: #009fdb;
}
#calculator label {
    color: white !important;
}
#calculator h1 {
    font-size: 2.5em;
}
#total h3 {
    color: white !important;
}
#footer {
    padding: 0;
    margin-top: -2em;
    margin-bottom: 1em;
}
